<li>
	{{burger_name}} {{#if devoured}}
	<button class="change-burger" data-id="{{id}}" data-new_eaten="{{devoured}}">
		EAT THE BURGER!
	</button>
	{{else}}
	<button class="change-burger" data-id="{{id}}" disabled data-new_eaten="{{devoured}}">
		DELICIOUS!
	</button>
	{{/if}}
	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>