
<div class='row'>
	<button disabled class='col burgers btn btn-secondary'>
		{{burger_name}}

	</button>

	{{#if devoured}}

	<button class="col btn btn-warning eat change-burger" data-id="{{id}}" data-new_eaten="{{devoured}}">
		EAT THE BURGER!
	</button>
	{{else}}
	<button class="col btn btn-warning eat delete-burger" data-id="{{id}}" data-new_eaten="{{devoured}}">
		DELICIOUS!
	</button>
	
	{{!-- <button class="col " data-id="{{this.id}}">X</button> s --}}
	{{/if}} 
	
	{{!-- end of row --}} 
	</div>
	 {{!-- end of row --}}